@model Auto_ecole_project.Models.Voiture

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voiture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="matricule" class="control-label"></label>
                <input asp-for="matricule" class="form-control" />
                <span asp-validation-for="matricule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilometrage" class="control-label"></label>
                <input asp-for="Kilometrage" class="form-control" />
                <span asp-validation-for="Kilometrage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Garage" class="control-label"></label>
                <input asp-for="Garage" class="form-control" />
                <span asp-validation-for="Garage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVisit" class="control-label"></label>
                <input asp-for="DateVisit" class="form-control" />
                <span asp-validation-for="DateVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
