@model Auto_ecole_project.Models.Session

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duree" class="control-label"></label>
                <input asp-for="Duree" class="form-control" />
                <span asp-validation-for="Duree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoniteurId" class="control-label"></label>
                <input asp-for="MoniteurId" class="form-control" />
                <span asp-validation-for="MoniteurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoitureId" class="control-label"></label>
                <input asp-for="VoitureId" class="form-control" />
                <span asp-validation-for="VoitureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursId" class="control-label"></label>
                <input asp-for="CoursId" class="form-control" />
                <span asp-validation-for="CoursId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
